@font-face {
    font-family:"JetBrains Mono";
    src: url("JetBrainsMono-VariableFont_wght.ttf") format("truetype");
}

@font-face {
    font-family:"Comfortaa";
    src: url("Comfortaa-VariableFont_wght.ttf") format("truetype");
}

:root {
    --siyah: #000064;
    --mor: #9C27B0;
    --koyu-mor: #673AB7;
}

body {
    background-color: #ffffff !important;
}

.icon-red {
    font-weight: bold;
    font-size: 1.2em;
    color: crimson;
}

.icon-yesil {
    font-weight: bold;
    font-size: 1.2em;
    color: darkseagreen;
}

.icon-mavi {
    font-weight: bold;
    font-size: 1.2em;
    color: blue;
}

.icon-gri {
    font-weight: bold;
    font-size: 1.2em;
    color: gray;
}

.ust_baslik {
    font-family: 'Comfortaa', cursive;
    font-size: 2em;
    font-style: normal;
    font-weight: 700;
    color: navy !important;
}

.foot_baslik {
    font-family: 'Comfortaa', cursive;
    font-size: 1em;
    font-weight: bolder;
    color: var(--siyah);
}

.border-koseli-1px {
    border: 1px solid var(--siyah) !important;
}

.border-koseli-2px-lef {
    border-left: 2px solid var(--siyah) !important;
}

.border-koseli-2px {
    border: 2px solid #9C27B0 !important;
    border-top-left-radius: 1em;
}

.border-koseli-2px-rev {
    border: 2px solid var(--siyah) !important;
    border-bottom-left-radius: 1em;
}

.border-koseli-1px-rev {
    border: 1px solid var(--siyah) !important;
    border-bottom-left-radius: 1em;
}

.border-koseli-1px-l0 {
    border-top: 1px solid var(--siyah) !important;
    border-right: 1px solid var(--siyah) !important;
    border-bottom: 1px solid var(--siyah) !important;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
}

.border-top-1px {
    border: 0 !important;
    border-top: 1px solid var(--siyah) !important;
}

.border-top-2px {
    border: 0 !important;
    border-top: 2px solid var(--mor) !important;
}

.but-purple {
    background-color: var(--mor) !important;
    color: white !important;
}

.txt-purple {
    color: var(--mor) !important;
}

.but-deep-purple {
    background-color: var(--koyu-mor) !important;
    color: white !important;
}

.txt-deep-purple {
    color: var(--koyu-mor) !important;
}

.txt-redo {
    color: #AD1457 !important;
}

.txt-mono {
    font-family: "JetBrains Mono", monospace;
}

.logo-ekmek {
    font-size: 2.5rem;
    color: darkorange;
}

.logo-yazi {
    font-family: 'Comfortaa', cursive;
    font-size: 2.5rem;
    color: #673AB7 !important;
}

.but-indigo {
    background-color: #3F51B5 !important;
    color: white !important;
}

.borderless {
    border: 0 !important;
}

.navbar-custom-background {
    background-color: var(--siyah);
}

tr {
    font-size: 0.9rem;
}
tr, td {
    border-style: none !important;
}

tr:last-child {
    border-bottom: 0 !important;
}

a.aktif {
    border: 0;
    margin: 0;
    color: white;
    background-color: #0d6efd;
}

.width150px {
    width: 150px;
}

.new_update {
    color: var(--siyah);
    background-color: #FFF9C4;
}