<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: head"></head>
<body>

<div th:replace="header :: nav ('cari')"></div>

<div class="container">
    <div class="row" th:if="${success} ne null or ${error} ne null">
        <div class="alert alert-success" role="alert" th:text="${success}" th:if="${success}"></div>
        <div class="alert alert-danger" role="alert" th:text="${error}" th:if="${error}"></div>
    </div>

    <div class="row">
        <div class="col-md-10 col-sm-10 mx-auto mt-2">
            <div class="row mt-auto"><span class="ust_baslik">Cari Hesap</span></div>
            <div class="row mt-0 p-0 border-koseli-2px">
                <form method="post" th:action="@{/cari}" th:object="${cariObj}" id="cariForm" name="cariForm"
                      class="col card p-2 m-2 borderless">

                    <th:block th:if="${cari ne null}">
                        <div class="input-group mb-2">
                            <span class="input-group-text but-deep-purple border-koseli-1px width150px">Cari Id</span>
                            <input type="text" th:value="${cari.getId()}" class="form-control border-koseli-1px disabled" disabled readonly/>
                        </div>
                    </th:block>

                    <div class="input-group mb-2">
                        <span class="input-group-text but-deep-purple border-koseli-1px width150px">Adı<sup>*</sup></span>
                        <input th:id="cariAd" th:name="cariAd" th:autocomplete="off" required type="text"
                               th:value="${cari ne null} ? ${cari.getCariAd()}" class="form-control border-koseli-1px"/>
                    </div>

                    <div class="input-group mb-2">
                        <span class="input-group-text but-deep-purple border-koseli-1px width150px">Yetkili Adı<sup>*</sup></span>
                        <input th:id="cariYetkili" th:name="cariYetkili" th:autocomplete="off" required
                               type="text" th:value="${cari ne null} ? ${cari.getCariYetkili()}"
                               class="form-control border-koseli-1px"/>
                    </div>

                    <div class="input-group mb-2">
                        <span class="input-group-text but-deep-purple border-koseli-1px width150px">Telefonu<sup>*</sup><span class="pe-2"></span><i class="fa-solid fa-mobile-retro"></i></span>
                        <input th:id="cariTel" th:name="cariTel" th:autocomplete="off" required type="tel"
                               th:value="${cari ne null} ? ${cari.getCariTel()}" class="form-control border-koseli-1px"/>
                    </div>

                    <div class="input-group mb-2">
                        <span class="input-group-text but-deep-purple border-koseli-1px width150px">Adresi<span class="pe-2"></span><i class="fa-solid fa-map"></i></span>
                        <textarea class="form-control border-koseli-1px" th:id="cariAdres" th:name="cariAdres" th:value="${cari ne null} ? ${cari.getCariAdres()}" th:text="${cari ne null} ? ${cari.getCariAdres()} "></textarea>
                        <input th:id="id" th:name="id" type="hidden" th:value="${cari ne null} ? ${cari.getId()} "/>
                    </div>

                    <div class="input-group mb-2">
                        <!--
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                            <label class="form-check-label" for="flexSwitchCheckDefault">Default switch checkbox input</label>
                        </div>-->


                        <label class="input-group-text but-deep-purple border-koseli-1px width150px">Durum</label>
                        <select th:name="aktif" th:id="aktif" class="form-control form-select border-koseli-1px">
                            <option th:selected="${(cari eq null) or (cari ne null and cari.getAktif() eq 1)}" value="1">Aktif</option>
                            <option th:selected="${cari ne null and cari.getAktif() eq 0}" value="0">Pasif</option>
                        </select>
                    </div>
                    <div class="row" style="border:0px solid green;">
                        <div class="mx-auto mt-2" style="border:0px solid red;">
                            <a class="btn btn-sm btn-link but-purple text-decoration-none" role="button" id="cariYeni" th:href="@{/cari}">Yeni<span class="pe-2"></span><i class="fa-solid fa-file"></i></a>
                            <th:block th:if="${cari ne null}">
                                <a class="btn btn-sm btn-link but-deep-purple text-decoration-none" role="button" id="cariIptal" th:href="@{/cari/cancel}">Temizle<span class="pe-2"></span><i class="fa-solid fa-eraser"></i></a>
                            </th:block>
                            <button class="btn btn-sm but-indigo" type="submit" id="cariKaydet">Kaydet<span class="pe-2"></span><i class="fa-solid fa-floppy-disk"></i></button>
                        </div>
                    </div>
                </form>

                <table class="table table-responsive table-responsive-lg table-responsive-md table-responsive-sm table-striped table-hover table-borderless border-top-2px p-0 m-0">
                    <tr class="but-purple d-table-row">
                        <th class="text-white-50">ID</th>
                        <th class="text-white-50">Adı</th>
                        <th class="text-white-50">Yetkili Adı</th>
                        <th class="text-white-50">Telefonu</th>
                        <th class="text-white-50">Adres</th>
                        <th class="text-white-50">Durum</th>
                        <th class="text-white-50">Aksiyon</th>
                    </tr>
                    <tr th:if="${#lists.isEmpty(carilist)}">
                        <td colspan="5">No Records found. Add some...!</td>
                    </tr>
                    <tr th:id="'tr_' + ${item.getId()}" th:each="item : ${carilist}" th:classappend="${registered eq item.getId()} ? 'new_update'">
                        <td th:text="${item.getId()}"></td>
                        <td class="txt-deep-purple" th:text="${item.getCariAd()}"></td>
                        <td class="txt-purple" th:text="${item.getCariYetkili()}"></td>
                        <td class="txt-redo" th:text="${item.getCariTel()}"></td>
                        <td th:alt-title="${item.getCariAdres()}" th:text="${textUtils.truncAdres(item.getCariAdres())}"></td>
                        <td th:text="${item.getAktif() eq 1} ? 'Aktif' : 'Pasif'"></td>
                        <td>
                            <div class="d-flex justify-content-around">
                                <div class="m-0 p-0">
                                    <form method="post" th:action="@{/cari/show}" class="m-0 p-0">
                                        <button type="submit" class="btn btn-sm btn-link text-decoration-none m-0 p-0"><span class="icon-yesil"><i
                                                class="fa-solid fa-sync"></i></span></button>
                                        <input type="hidden" name="id" th:value="${item.getId()}">
                                    </form>
                                </div>
                                <div class="m-0 p-0">
                                    <th:block th:if="${item.getAktif()==0}">
                                        <form method="post" th:action="@{/cari/delete/{id}(id = ${item.getId()})}" onsubmit="return silmeOnay();" class="m-0 p-0">
                                            <button type="submit" class="btn btn-sm btn-link text-decoration-none m-0 p-0"><span class="icon-red"><i
                                                    class="fa-solid fa-minus-circle"></i></span></button>
                                        </form>
                                    </th:block>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>


    <div th:insert="footer :: foot"></div>

</div>

<script th:src="@{/js/firin.js}"></script>
<script th:src="@{/js/jquery-3.6.0.min.js}"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>

<script>
</script>

</body>
</html>