<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kete Ekmek</title>
    <link rel="icon" th:href="@{/icon/favicon.ico}" type="image/x-icon">
    <link th:rel="stylesheet" th:href="@{/css/firin.css}" type="text/css"/>
    <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css"/>
    <link th:rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css}" type="text/css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">
</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark static-top navbar-custom-background">
    <div class="container">
        <div class="col-md-10 mx-auto mt-2">
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="navbar-brand nav-link active" href="/"><i class="fa-solid fa-house"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/cari">Cari Hesap <i class="fa-solid fa-user-tie"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/urun">Ürünler <i class="fa-solid fa-cookie-bite"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/siparis">Sipariş <i class="fa-solid fa-receipt"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/tahsilat">Tahsilat <i class="fa-solid fa-cash-register"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/rapor">Rapor <i class="fa-solid fa-table"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="alert alert-primary" role="alert" th:text="${success}" th:if="${success}"></div>
        <div class="alert alert-danger" role="alert" th:text="${error}" th:if="${error}"></div>
    </div>

    <div class="row">
        <div class="col-md-10 mx-auto mt-2">
            <div class="d-flex justify-content-start">
                <div class="me-3">
                    <span class="ust_baslik txt-deep-purple">Kete Ekmek</span>
                </div>
                <div>
                    <span class="logo-ekmek">
                        <i class="fa-solid fa-bread-slice"></i>
                    </span>
                </div>
            </div>

        </div>
    </div>

</div>

<script th:src="@{/js/firin.js}"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>

<script>
</script>

</body>
</html>