<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: head"></head>
<body>

<div th:replace="header :: nav ('sip')"></div>

<div class="container">
    <div class="row" th:if="${success} ne null or ${error} ne null">
        <div class="alert alert-success" role="alert" th:text="${success}" th:if="${success}"></div>
        <div class="alert alert-danger" role="alert" th:text="${error}" th:if="${error}"></div>
    </div>

    <div class="row">
        <div class="col-md-10 col-sm-10 mx-auto mt-2">
            <div class="row mt-auto"><span class="ust_baslik">Sipariş</span></div>
            <div class="row mt-0 p-0 border-koseli-2px">
                <form method="post" th:action="@{/siparis}" th:object="${siparisObj}" id="siparisForm" name="siparisForm"
                      class="col card p-2 m-2 borderless">

                    <th:block th:if="${siparis ne null}">
                    <div class="input-group mb-2">
                        <span class="input-group-text but-deep-purple border-koseli-1px width150px">Sipariş Id</span>
                        <input type="text" th:value="${siparis.getId()}" class="form-control border-koseli-1px disabled" disabled readonly/>
                    </div>
                    </th:block>

                    <div class="input-group mb-2">
                        <span class="input-group-text but-deep-purple border-koseli-1px width150px">Cari (*)</span>
                        <select th:name="cariId" th:id="cariId" class="form-control form-select border-koseli-1px">
                            <option th:if="${cari.getAktif()==1}" th:each="cari : ${cariList}" th:value="${cari.getId()}" th:text="${cari.getCariAd() + ' - ' + cari.getCariYetkili() }" th:selected="${siparis ne null and cari.getId() == siparis.getCariId()}"></option>
                        </select>
                    </div>

                    <div class="input-group mb-2">
                        <span class="input-group-text but-deep-purple border-koseli-1px width150px">Ürün (*)</span>
                        <select th:name="urunId" th:id="urunId" class="form-control form-select border-koseli-1px">
                            <option th:if="${urun.getAktif()==1}" th:each="urun : ${urunList}" th:value="${urun.getId()}" th:text="${urun.getUrunAd() + ' - ' + textUtils.truncZeroFromPrice(urun.getUrunFiyat()) + ' TL'}" th:selected="${siparis ne null and urun.getId() == siparis.getUrunId()}"></option>
                        </select>
                    </div>

                    <div class="input-group mb-2">
                        <span class="input-group-text but-deep-purple border-koseli-1px width150px">Adet (*)</span>
                        <input th:id="adet" th:name="adet" th:autocomplete="off" required
                               type="number" min="1" max="10000" step="1" th:value="${siparis ne null} ? ${siparis.getAdet() } : 1 "
                               class="form-control border-koseli-1px"/>
                    </div>

                    <div class="input-group mb-2">
                        <span class="input-group-text but-deep-purple border-koseli-1px width150px">Satış - İade</span>
                        <select th:name="satisIade" th:id="satisIade" class="form-control form-select border-koseli-1px">
                            <option th:selected="${siparis eq null or (siparis ne null and siparis.getSatisIade() eq 1)}" value="1">Satış</option>
                            <option th:selected="${siparis ne null and siparis.getSatisIade() eq 0}" value="0">İade</option>
                        </select>
                    </div>

                    <div class="input-group mb-2">
                        <span class="input-group-text but-deep-purple border-koseli-1px width150px">Onay</span>
                        <div class="input-group-text border-koseli-1px">
                            <input class="form-check-input mt-0 border-koseli-1px" type="checkbox" th:id="onayCheck" th:name="onayCheck" th:checked="${siparis ne null and siparis.getOnay() eq 1}">
                            <input type="hidden" th:id="onay" th:name="onay" th:value="${siparis ne null and siparis.getOnay() eq 1} ? 1 : 0">
                        </div>
                    </div>

                    <div class="input-group mb-2">
                        <span class="input-group-text but-deep-purple border-koseli-1px width150px">Tutar</span>
                        <input th:id="tutarTxt" th:name="tutarTxt"
                               type="text" th:value="${siparis ne null} ? ${textUtils.truncZeroFromPrice(siparis.getTutar()) + ' TL'} : ${textUtils.truncZeroFromPrice(urunList.get(0).getUrunFiyat()) + ' TL'}"
                               class="form-control border-koseli-1px disabled" disabled readonly/>

                        <input th:id="tutar" th:name="tutar"
                               type="hidden" th:value="${siparis ne null} ? ${siparis.getTutar()} : ${urunList.get(0).getUrunFiyat()}"/>
                        <input th:id="id" th:name="id" type="hidden" th:value="${siparis ne null} ? ${siparis.getId()} : '' "/>
                        <input th:id="page" th:name="page" type="hidden" th:value="${siparis ne null} ? ${pageNo} : 0"/>
                    </div>

                    <div class="row border-0">
                        <div class="mx-auto mt-2 border-0">
                            <a class="btn btn-sm btn-link but-purple text-decoration-none" role="button" id="siparisYeni" th:href="@{/siparis}">Yeni</a>
                            <th:block th:if="${siparis ne null}">
                                <a class="btn btn-sm btn-link but-deep-purple text-decoration-none" role="button" id="siparisIptal" th:href="@{/siparis/cancel}">Temizle</a>
                            </th:block>
                            <button class="btn btn-sm but-indigo" type="submit" id="siparisKaydet">Kaydet</button>
                        </div>
                    </div>
                </form>

                <table class="table table-responsive table-responsive-lg table-responsive-md table-responsive-sm table-striped border-top-2px p-0 m-0">
                    <tr class="but-purple d-table-row">
                        <th class="text-white-50">ID</th>
                        <th class="text-white-50">Kime</th>
                        <th class="text-white-50">Ürün</th>
                        <th class="text-white-50">Adet</th>
                        <th class="text-white-50">Tutar</th>
                        <th class="text-white-50">İşlem Tarihi</th>
                        <th class="text-white-50">Onay</th>
                        <th class="text-white-50">S - İ</th>
                        <th class="text-white-50">Aksiyon</th>
                    </tr>
                    <tr th:if="${#lists.isEmpty(siparisList)}">
                        <td colspan="10">Henüz Kayıt Yok...</td>
                    </tr>
                    <tr th:id="'tr_' + ${siparis.getId()}" th:each="siparis : ${siparisList}" th:classappend="${registered eq siparis.getId()} ? 'new_update'">
                        <td th:text="${siparis.getId()}"></td>
                        <td th:text="${cariMap.get(siparis.getCariId()).getCariAd()} +' - ' + ${cariMap.get(siparis.getCariId()).getCariYetkili()}"></td>
                        <td th:text="${urunMap.get(siparis.getUrunId()).getUrunAd()}"></td>
                        <td th:text="${siparis.getAdet()}"></td>
                        <td th:text="${textUtils.truncZeroFromPrice(siparis.getTutar())} + ' TL'"></td>
                        <td th:text="${dateUtils.toTurkishDateTime(siparis.getTarih())}"></td>
                        <td th:text="${siparis.getOnay() eq 1} ? 'EVET' : 'HAYIR'"></td>
                        <td th:text="${siparis.getSatisIade() eq 1} ? 'SATIŞ' : 'İADE'" th:class="${siparis.getSatisIade() eq 1} ? 'text-success' : 'text-danger'"></td>
                        <td>
                            <div class="d-flex justify-content-around">
                                <div class="m-0 p-0">
                                    <form method="post" th:action="@{/siparis/show}" class="m-0 p-0">
                                        <button type="submit" class="btn btn-sm btn-link text-decoration-none m-0 p-0"><span class="icon-yesil"><i
                                                class="fa-solid fa-sync"></i></span></button>
                                        <input type="hidden" name="id" th:value="${siparis.getId()}">
                                        <input type="hidden" name="page" th:value="${pageNo}">
                                    </form>
                                </div>
                                <div class="m-0 p-0">
                                    <th:block th:if="${siparis.getOnay()==0}">
                                        <form method="post" th:action="@{/siparis/delete/{id}(id = ${siparis.getId()})}" onsubmit="return silmeOnay();" class="m-0 p-0">
                                        <button type="submit" class="btn btn-sm btn-link text-decoration-none m-0 p-0"><span class="icon-red"><i
                                        class="fa-solid fa-minus-circle"></i></span></button>
                                        </form>
                                    </th:block>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>




    <div class="row" th:if="${!siparisList.isEmpty()}">
        <div class="m-0 p-0">
            <div class="col-md-10 col-sm-10 mx-auto mt-3">
                <div class="d-flex m-0 p-0 justify-content-end">
                    <nav aria-label="..." class="m-0 p-0">
                    <ul class="pagination border-koseli-1px">
                        <li class="page-item" th:disabled="${pageNo==0}">
                            <a class="page-link border-0 txt-deep-purple" th:if="${pageNo==0}">İlk</a>
                            <a class="page-link border-0 txt-deep-purple" th:if="${pageNo>0}" th:href="@{/siparis/(page = 0)}">İlk</a>
                        </li>
                        <li class="page-item" th:disabled="${pageNo==0}">
                            <a class="page-link border-0 txt-deep-purple" th:if="${pageNo==0}">Önceki</a>
                            <a class="page-link border-0 txt-deep-purple" th:if="${pageNo>0}" th:href="@{/siparis/(page = ${pageNo}-1)}">Önceki</a>
                        </li>
                        <li class="page-item" th:each="pageIndex : ${totalPages}">
                            <th:block th:if="${(pageIndex <= (pageNo + 2)) and (pageIndex >= (pageNo - 2)) }">
                                <a class="page-link border-0 but-deep-purple" th:classappend="${pageIndex.intValue() == pageNo} ? 'active'" th:href="@{/siparis/(page = ${pageIndex.intValue()})}" th:text="${(pageIndex+1)}"></a>
                            </th:block>
                            <th:block th:if="${!((pageIndex <= (pageNo + 2)) and (pageIndex >= (pageNo - 2))) and (pageIndex == 0 or pageIndex == totalPages.size() -1)}">
                                <a class="page-link border-0 txt-deep-purple" th:text=".."></a>
                            </th:block>
                        </li>
                        <li class="page-item" th:disabled="${pageNo+1 == totalPages.size()}">
                            <a class="page-link border-0 txt-deep-purple" th:if="${(pageNo+1) == totalPages.size()}">Sonraki</a>
                            <a class="page-link border-0 txt-deep-purple" th:if="${(pageNo+1) < totalPages.size()}" th:href="@{/siparis/(page = ${pageNo}+1)}">Sonraki</a>
                        </li>
                        <li class="page-item" th:disabled="${(pageNo+1) == totalPages.size()}">
                            <a class="page-link border-0 txt-deep-purple" th:if="${(pageNo+1) == totalPages.size()}">Son</a>
                            <a class="page-link border-0 txt-deep-purple" th:if="${(pageNo+1) < totalPages.size()}" th:href="@{/siparis/(page = ${totalPages.size()} - 1)}">Son</a>
                        </li>
                    </ul>
                </nav>
                </div>
            </div>
        </div>
    </div>




    <div th:replace="footer :: foot"></div>

</div>




<script th:src="@{/js/firin.js}"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>

<script th:inline="javascript" th:charset="utf-8">
    /*<![CDATA[*/
    let urunFiyat = /*[[${urunList}]]*/ 'User Name';
    /*]]>*/
</script>

<script>
    let adet = document.getElementById("adet");
    let urunId = document.getElementById("urunId");
    let tutar = document.getElementById("tutar");
    let tutarTxt = document.getElementById("tutarTxt");

    let onay = document.getElementById("onay");
    let onayCheck = document.getElementById("onayCheck");
    onayCheck.addEventListener("click", (e) => {
        if (onayCheck.checked) {
            onay.value = 1;
        } else {
            onay.value = 0;
        }
    });

    //urun.options[urun.selectedIndex].text
    adet.addEventListener("change", (e) => {
        sumTotal();
    });

    urunId.addEventListener("change", (e) => {
        sumTotal();
    });

    function sumTotal() {
        let urunIndex = urunId.options[urunId.selectedIndex].value;
        //console.log( urunFiyat);
        //console.log(`urunIndex: ${urunIndex}`);
        let urun = urunFiyat.find(u => u["id"] === parseInt(urunIndex));
        //: console.log(urun);
        // urunFiyat.forEach(element => console.log(element["id"]));
        // console.log("Tutar: " + (urun["urunFiyat"] * parseInt(adet.value)));
        tutar.value = (urun["urunFiyat"] * parseInt(adet.value));
        tutarTxt.value = (urun["urunFiyat"] * parseInt(adet.value)) + ' TL';
    }
</script>

</body>
</html>