<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: head"></head>
<body>

<div th:replace="header :: nav ('tah')"></div>

<div class="container">
    <div class="row" th:if="${success} ne null or ${error} ne null">
        <div class="alert alert-success" role="alert" th:text="${success}" th:if="${success}"></div>
        <div class="alert alert-danger" role="alert" th:text="${error}" th:if="${error}"></div>
    </div>

    <div class="row">
        <div class="col-md-10 col-sm-10 mx-auto mt-2">
            <div class="row mt-auto"><span class="ust_baslik">Tahsilat</span></div>
            <div class="row mt-0 p-0 border-koseli-2px">
                <form method="post" th:action="@{/tahsilat}" th:object="${tahsilatObj}" id="tahsilatForm" name="tahsilatForm"
                      class="col card p-2 m-2 borderless">

                    <th:block th:if="${tahsilat ne null}">
                    <div class="input-group mb-2">
                        <span class="input-group-text but-deep-purple border-koseli-1px width150px">Sipariş Id</span>
                        <input type="text" th:value="${tahsilat.getId()}" class="form-control border-koseli-1px disabled" disabled readonly/>
                    </div>
                    </th:block>

                    <div class="input-group mb-2">
                        <span class="input-group-text but-deep-purple border-koseli-1px width150px">Cari (*)</span>
                        <select th:name="cariId" th:id="cariId" class="form-control form-select border-koseli-1px">
                            <option th:each="cari : ${cariList}"
                                    th:value="${cari.getId()}"
                                    th:text="${cari.getCariAd() + ' - ' + cari.getCariYetkili() + ' - ANLIK BORÇ [' + textUtils.truncZeroFromPrice(cariOnayliSiparisMap.get(cari.getId())) + ' TL]' }"
                                    th:selected="${tahsilat ne null and cari.getId() == tahsilat.getCariId()}"></option>
                        </select>
                    </div>

                    <div class="input-group mb-2">
                        <span class="input-group-text but-deep-purple border-koseli-1px width150px">Tutar (*)</span>
                        <input th:id="tutar" th:name="tutar" th:autocomplete="off" required
                               type="number" min="1" max="10000" step="1" th:value="${tahsilat ne null} ? ${tahsilat.getTutar()} : 1 "
                               class="form-control border-koseli-1px"/>
                    </div>

                    <div class="input-group mb-2">
                        <span class="input-group-text but-deep-purple border-koseli-1px width150px">Tarih<span class="pe-2"></span><i class="fa-solid fa-calendar-days"></i></span>
                        <div class="input-group-text p-0 border-koseli-1px date">
                            <input type="date" th:value="${tahsilat ne null} ? ${tahsilat.getTarihOdeme()} : ${dateUtils.toIsoDateFromNow()}" class="form-control border-0" required th:name="tarihOdeme" th:id="tarihOdeme">
                        </div>

                        <input th:id="id" th:name="id" type="hidden" th:value="${tahsilat ne null} ? ${tahsilat.getId()} : '' "/>
                        <input th:id="page" th:name="page" type="hidden" th:value="${tahsilat ne null} ? ${pageNo} : 0"/>
                    </div>

                    <div class="row border-0">
                        <div class="mx-auto mt-2 border-0">
                            <a class="btn btn-sm btn-link but-purple text-decoration-none" role="button" id="tahsilatYeni" th:href="@{/tahsilat}">Yeni</a>
                            <th:block th:if="${tahsilat ne null}">
                                <a class="btn btn-sm btn-link but-deep-purple text-decoration-none" role="button" id="tahsilatIptal" th:href="@{/tahsilat/cancel}">Temizle</a>
                            </th:block>
                            <button class="btn btn-sm but-indigo" type="submit" id="tahsilatKaydet">Kaydet</button>
                        </div>
                    </div>
                </form>

                <table class="table table-responsive table-responsive-lg table-responsive-md table-responsive-sm table-striped border-top-2px p-0 m-0">
                    <tr class="but-purple d-table-row">
                        <th class="text-white-50">ID</th>
                        <th class="text-white-50">Kimden</th>
                        <th class="text-white-50">Tutar</th>
                        <th class="text-white-50">Tahsilat Tarih</th>
                        <th class="text-white-50">İşlem Tarihi</th>
                        <th class="text-white-50">Aksiyon</th>
                    </tr>
                    <tr th:if="${#lists.isEmpty(tahsilatList)}">
                        <td colspan="10">Henüz Kayıt Yok...</td>
                    </tr>
                    <tr th:id="'tr_' + ${tahsilat.getId()}" th:each="tahsilat : ${tahsilatList}" th:classappend="${registered eq tahsilat.getId()} ? 'new_update'">
                        <td th:text="${tahsilat.getId()}"></td>
                        <td th:text="${cariMap.get(tahsilat.getCariId()).getCariAd()} +' - ' + ${cariMap.get(tahsilat.getCariId()).getCariYetkili()}"></td>
                        <td th:text="${tahsilat.getTutar()} + ' TL'"></td>
                        <td th:text="${dateUtils.toTurkishDateFromIso(tahsilat.getTarihOdeme())}"></td>
                        <td th:text="${dateUtils.toTurkishDateTime(tahsilat.getTarih())}"></td>
                        <td>
                            <div class="d-flex justify-content-around">
                                <div class="m-0 p-0">
                                    <form method="post" th:action="@{/tahsilat/show}" class="m-0 p-0">
                                        <button type="submit" class="btn btn-sm btn-link text-decoration-none m-0 p-0"><span class="icon-yesil"><i
                                                class="fa-solid fa-sync"></i></span></button>
                                        <input type="hidden" name="id" th:value="${tahsilat.getId()}">
                                        <input type="hidden" name="page" th:value="${pageNo}">
                                    </form>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>




    <div class="row" th:if="${!tahsilatList.isEmpty()}">
        <div class="m-0 p-0">
            <div class="col-md-10 col-sm-10 mx-auto mt-3">
                <div class="d-flex m-0 p-0 justify-content-end">
                    <nav aria-label="..." class="m-0 p-0">
                    <ul class="pagination border-koseli-1px">
                        <li class="page-item" th:disabled="${pageNo==0}">
                            <a class="page-link border-0 txt-deep-purple" th:if="${pageNo==0}">İlk</a>
                            <a class="page-link border-0 txt-deep-purple" th:if="${pageNo>0}" th:href="@{/tahsilat/(page = 0)}">İlk</a>
                        </li>
                        <li class="page-item" th:disabled="${pageNo==0}">
                            <a class="page-link border-0 txt-deep-purple" th:if="${pageNo==0}">Önceki</a>
                            <a class="page-link border-0 txt-deep-purple" th:if="${pageNo>0}" th:href="@{/tahsilat/(page = ${pageNo}-1)}">Önceki</a>
                        </li>
                        <li class="page-item" th:each="pageIndex : ${totalPages}">
                            <th:block th:if="${(pageIndex <= (pageNo + 2)) and (pageIndex >= (pageNo - 2)) }">
                                <a class="page-link border-0 but-deep-purple" th:classappend="${pageIndex.intValue() == pageNo} ? 'active'" th:href="@{/tahsilat/(page = ${pageIndex.intValue()})}" th:text="${(pageIndex+1)}"></a>
                            </th:block>
                            <th:block th:if="${!((pageIndex <= (pageNo + 2)) and (pageIndex >= (pageNo - 2))) and (pageIndex == 0 or pageIndex == totalPages.size() -1)}">
                                <a class="page-link border-0 txt-deep-purple" th:text=".."></a>
                            </th:block>
                        </li>
                        <li class="page-item" th:disabled="${pageNo+1 == totalPages.size()}">
                            <a class="page-link border-0 txt-deep-purple" th:if="${(pageNo+1) == totalPages.size()}">Sonraki</a>
                            <a class="page-link border-0 txt-deep-purple" th:if="${(pageNo+1) < totalPages.size()}" th:href="@{/tahsilat/(page = ${pageNo}+1)}">Sonraki</a>
                        </li>
                        <li class="page-item" th:disabled="${(pageNo+1) == totalPages.size()}">
                            <a class="page-link border-0 txt-deep-purple" th:if="${(pageNo+1) == totalPages.size()}">Son</a>
                            <a class="page-link border-0 txt-deep-purple" th:if="${(pageNo+1) < totalPages.size()}" th:href="@{/tahsilat/(page = ${totalPages.size()} - 1)}">Son</a>
                        </li>
                    </ul>
                </nav>
                </div>
            </div>
        </div>
    </div>




    <div th:insert="footer :: foot"></div>

</div>



<script th:src="@{/js/firin.js}"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>


</body>
</html>